<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/kalitero-favicon.png" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <title>Listado de Productos</title>
</head>

<body>

    <%- include('../partials/header') %>

    <main>

        <div class="delivery">
            <img class="w-100" src="/images/covid-entrega.png" alt="delivery">
        </div>
        <div class="titulo-promo fz-12">
            <h2>LISTADO DE PRODUCTOS</h2>
        </div>
        <section class="products d-flex f-wrap justify-center">
            <article class="promo-1 w-42">
                <div>
                    <img class="img-promo-1 w-100 bg-white" src="/images/product-1.jpg" alt="">
                </div>
                <div class="text-al-center">
                    <p class="device">iPhone 11 Pro 64 Gb - Space Gray</p>
                    <p class="price">$250.000</p>
                </div>
            </article>

            <article class="promo-2 w-42">
                <div>
                    <img class="img-promo-2 w-100 bg-white" src="/images/product-2.jpg" alt="">
                </div>
                <div class="text-al-center bg-white">
                    <p class="device">iPhone 11 Pro 64 Gb - Silver</p>
                    <p class="price">$250.000</p>
                </div>
            </article>

            <article class="promo-1 w-42">
                <div>
                    <img class="img-promo-1 w-100 bg-white" src="/images/product-3.jpg" alt="">
                </div>
                <div class="text-al-center">
                    <p class="device">iPhone 11 Pro 64 Gb - Midnight Green</p>
                    <p class="price">$250.000</p>
                </div>
            </article>

            <article class="promo-4 w-42">
                <div>
                    <img class="img-promo-2 w-100 bg-white" src="/images/product-4.jpg" alt="">
                </div>
                <div class="text-al-center">
                    <p class="device">iPhone 11 Pro 64 Gb - Gold</p>
                    <p class="price">$250.000</p>
                </div>
            </article>


            <article class="promo-1 w-42">
                <img class="img-promo-1 w-100" src="/images/ipad-pro.jpg" alt="iPad Pro">
            </article>
            <article class="promo-2 w-42">
                <img class="img-promo-2 w-100" src="/images/apple-tv.jpg" alt="Macbook Pro">
            </article>
            <article class="promo-3 w-42">
                <img class="img-promo-2 w-100" src="/images/macbook-pro.jpg" alt="Macbook Pro">
            </article>
            <article class="promo-4 w-42">
                <img class="img-promo-2 w-100" src="/images/apple-watch.jpg" alt="Macbook Pro">
            </article>
            <article class="promo-1 w-42">
                <img class="img-promo-1 w-100" src="/images/Net-1.jpg" alt="">
                <p class="sub-producto">Notebook Bangho</p>
                <p class="sub-precio">$25.999</p>
            </article>
            <article class="promo-2 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-2.jpg" alt="">
                <p class="sub-producto">Notebook Bangho</p>
                <p class="sub-precio">$24.999</p>
            </article>
            <article class="promo-3 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-3.jpeg" alt="">
                <p class="sub-producto">Notebook ACME</p>
                <p class="sub-precio">$22.999</p>
            </article>
            <article class="promo-4 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-4.jpg" alt="">
                <p class="sub-producto">Notebook Cualqui</p>
                <p class="sub-precio">$23.999</p>
            </article>
            <article class="promo-1 w-42">
                <img class="img-promo-1 w-100" src="/images/Net-5.jpg" alt="">
                <p class="sub-producto">Notebook Barat</p>
                <p class="sub-precio">$20.199</p>
            </article>
            <article class="promo-2 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-6.jpeg" alt="">
                <p class="sub-producto">Notebook Nomac</p>
                <p class="sub-precio">$27.997</p>
            </article>
            <article class="promo-3 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-7.jpg" alt="">
                <p class="sub-producto">Notebook Argenta</p>
                <p class="sub-precio">$19.999</p>
            </article>
            <article class="promo-4 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-8.jpg" alt="">
                <p class="sub-producto">Notebook Popular</p>
                <p class="sub-precio">$22.500</p>
            </article>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>