<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<body>
    <%- include('../partials/header') %>

    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..."
                                    class="img-responsive" /></div>
                            <div class="col-sm-10">
                                <h4 class="nomargin">Product 1</h4>
                                <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </td>
                    <td data-th="Price">$1.99</td>
                    <td data-th="Quantity">
                        <input type="number" class="form-control text-center" value="1">
                    </td>
                    <td data-th="Subtotal" class="text-center">1.99</td>
                    <td class="actions" data-th="">
                        <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="visible-xs">
                    <td class="text-center"><strong>Total 1.99</strong></td>
                </tr>
                <tr>
                    <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
                    <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!--

    
    <main id="cart-main">
        <section class="cart-header">
            <h2 class="d-flex">Carrito de compras<span class="linea margin-l-10"></span></h2>
            
            <a href="/">
                <span class="fz-10">Volver a inicio</span>
            </a>
        </section> 
        

        <section class="product-detail">
            <article class="item-carrito">

                <div class="row">
                    <img class="product-detail-img" src="/images/products/product-1.jpg" alt="imagen del producto">
                </div>

                <div class="detalle-item-carrito">
                    <h3>iPhone 11 Pro 64 Gb - Space Grey</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
                    <input class="bg-c-lg" type="number" name="num" min="0" max="99" placeholder="cantidad">
                    <p>$250.000</p>
                </div>

                <div class="quitar-item-carrito">
                </div>
            </article>

            <article class="item-carrito">
                
                <div class="img-item-carrito">
                    <img class="imagen-item w-100" src="/images/products/product-1.jpg" alt="imagen del producto">
                </div>

                <div class="detalle-item-carrito">
                    <h3>iPhone 11 Pro 64 Gb - Space Grey</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
                    <input class="bg-c-lg" type="number" name="num" min="0" max="99" placeholder="cantidad">
                    <p>$250.000</p>
                </div>

                <div class="quitar-item-carrito">
                </div>
            </article>

            <article class="item-carrito">
                
                <div class="img-item-carrito">
                    <img class="imagen-item w-100" src="/images/products/product-1.jpg" alt="imagen del producto">
                </div>

                <div class="detalle-item-carrito">
                    <h3>iPhone 11 Pro 64 Gb - Space Grey</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
                    <input class="bg-c-lg" type="number" name="num" min="0" max="99" placeholder="cantidad">
                    <p>$250.000</p>
                </div>

                <div class="quitar-item-carrito">
                </div>
            </article>

            <article class="item-carrito">
                
                <div class="img-item-carrito">
                    <img class="imagen-item w-100" src="/images/products/product-1.jpg" alt="imagen del producto">
                </div>

                <div class="detalle-item-carrito">
                    <h3>iPhone 11 Pro 64 Gb - Space Grey</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
                    <input class="bg-c-lg" type="number" name="num" min="0" max="99" placeholder="cantidad">
                    <p>$250.000</p>
                </div>

                <div class="quitar-item-carrito">
                </div>
            </article>

            <article class="item-carrito">

                <div class="img-item-carrito">
                    <img class="imagen-item w-100" src="/images/products/product-1.jpg" alt="imagen del producto">
                </div>

                <div class="detalle-item-carrito">
                    <h3>iPhone 11 Pro 64 Gb - Space Grey</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua.</p>
                    <input class="bg-c-lg" type="number" name="num" min="0" max="99" placeholder="1">
                    <p>$250.000</p>
                </div>

                <div class="quitar-item-carrito">
                </div>
            </article>
        </section>
            
        <section class="cart-footer">
            <h5 class="d-flex f-dir-row space-between">
                <span>Subtotal(sin envío):</span>
                <strong>$500.000</strong>
            </h5>

            <div class="d-flex envio">
                <input class="bg-c-lg" type="text" name="num" placeholder="Código Postal">
                <button class="envio-btn hover julius">Calcular envío</button>

            </div>

            <h4 class="d-flex f-dir-row space-between">
                <span class="c-darkblue">Total a abonar:</span>
                <strong class="c-darkblue">$500.000</strong>
            </h4>

            <div class="d-flex center">
                <button class="comprar-btn hover julius" type="submit">Iniciar mi compra</button>
            </div>


        </section>
    </main>
    -->
    <hr>

    <%- include('../partials/footer') %>

</body>

</html>