<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <main>
        <div class="carousel">
            <img class="w-100" src="/images/foto-carrusel.jpg" alt="foto-carrusel">
        </div>
        <div class="delivery">
            <img class="w-100" src="/images/covid-entrega.png" alt="delivery">
        </div>
        <section class="products d-flex f-wrap justify-center">
            <article class="product-1 w-42">
                <div>
                    <img class="w-100" src="/images/product-1.jpg" alt="">
                </div>
                <div class="text-al-center">
                    <p class="device">iPhone 11 Pro 64 Gb - Space Gray</p>
                    <p class="price">$250.000</p>
                </div>
            </article>

            <article class="product-2 w-42">
                <div>
                    <img class="w-100" src="/images/product-2.jpg" alt="">
                </div>
                <div class="text-al-center">
                    <p class="device">iPhone 11 Pro 64 Gb - Silver</p>
                    <p class="price">$250.000</p>
                </div>
            </article>

            <article class="product-3 w-42">
                <div>
                    <img class="w-100" src="/images/product-3.jpg" alt="">
                </div>
                <div class="text-al-center">
                    <p class="device">iPhone 11 Pro 64 Gb - Midnight Green</p>
                    <p class="price">$250.000</p>
                </div>
            </article>

            <article class="product-4 w-42">
                <div>
                    <img class="w-100" src="/images/product-4.jpg" alt="">
                </div>
                <div class="text-al-center">
                    <p class="device">iPhone 11 Pro 64 Gb - Gold</p>
                    <p class="price">$250.000</p>
                </div>
            </article>
        </section>
        <section class="promo d-flex f-wrap justify-center">
            <div class="titulo-promo fz-12">
                <h2>Nuestras promociones</h2>
            </div>
            <article class="promo-1 w-42">
                <img class="img-promo-1 w-100" src="/images/ipad-pro.jpg" alt="iPad Pro">
            </article>
            <article class="promo-2 w-42">
                <img class="img-promo-2 w-100" src="/images/apple-tv.jpg" alt="Macbook Pro">
            </article>
            <article class="promo-3 w-42">
                <img class="img-promo-2 w-100" src="/images/macbook-pro.jpg" alt="Macbook Pro">
            </article>
            <article class="promo-4 w-42">
                <img class="img-promo-2 w-100" src="/images/apple-watch.jpg" alt="Macbook Pro">
            </article>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>