<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>
    
    <main>
        <div class="login">
            <div class="login-container">
                <form action="/">
                    <div class="inputs-login">
                        <div class="title-login texts-login">
                            <a>MI CUENTA</a>
                        </div>
                        <div class="sub-title-login texts-login">
                            <a>INGRESA CON TUS DATOS:</a>
                        </div>
                        <div class="inputs-format">
                            <input class="login-input-style-border" type="text" name="usr" placeholder="Usuario">
                            <input class="login-input-style-border" type="password" name="psw" placeholder="Contraseña">
                        </div>
                        <div class="opciones-login">
                            <div class="boton-enviar">
                                <button class="login-btn class-btn" type="submit" id="login-enviar" target="">Enviar</button>
                            </div>
                            <div class="olvide-contra">
                                <a href="#">Olvidé mi clave</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>