<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>

    <main>
        <div class="">
            <div class="d-flex">
                <div class="w-70">
                    <img class="imagen-grande" src="/images/macbookproi9.jpg" alt="">
                </div>
                <div class="wrap w-30">
                    <img class="imagen-chica" src="/images/macbookproi92.jpg" alt="">
                    <img class="imagen-chica" src="/images/macbookproi93.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="product-info">
            <h2 class="title-product">Macbook Pro 16 Español</h2>
            <h3 class="subtitle-product">Touch I9 Ssd1tb Video 4gb</3>
                <h3 class="sale">$699.999</h3>
                <input class="numero" type="number" name="num" min="0" max="100">
                <input class="boton" type="button" value="ORDENAR">
                <div>
                    <h4 class="description">Descripción</h4>
                    <h4 class="detail">Detalles Del Producto</h4>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quidem animi
                        pariatur natus
                        eligendi hic ducimus mollitia quas, laudantium, expedita praesentium numquam vero esse velit
                        veniam
                        enim omnis aliquid facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et placeat
                        veritatis odit? Optio sed quas
                        dolores! Voluptatum magnam minima aperiam similique dolorem, itaque quae magni veritatis
                        eligendi
                        eius qui voluptas.
                    </p>
                </div>
        </div>
        <section class="promo d-flex f-wrap justify-center bg-image">
            <div class="titulo-promo fz-12">
                <h2>También Podría Interesarte</h2>
            </div>
            <article class="promo-1 w-42">
                <img class="img-promo-1 w-100" src="/images/Net-1.jpg" alt="">
                <p class="sub-producto">Notebook Bangho</p>
                <p class="sub-precio">$25.999</p>
            </article>
            <article class="promo-2 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-2.jpg" alt="">
                <p class="sub-producto">Notebook Bangho</p>
                <p class="sub-precio">$24.999</p>
            </article>
            <article class="promo-3 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-3.jpeg" alt="">
                <p class="sub-producto">Notebook ACME</p>
                <p class="sub-precio">$22.999</p>
            </article>
            <article class="promo-4 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-4.jpg" alt="">
                <p class="sub-producto">Notebook Cualqui</p>
                <p class="sub-precio">$23.999</p>
            </article>
            <article class="promo-5 w-42">
                <img class="img-promo-1 w-100" src="/images/Net-5.jpg" alt="">
                <p class="sub-producto">Notebook Barat</p>
                <p class="sub-precio">$20.199</p>
            </article>
            <article class="promo-6 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-6.jpeg" alt="">
                <p class="sub-producto">Notebook Nomac</p>
                <p class="sub-precio">$27.997</p>
            </article>
            <article class="promo-7 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-7.jpg" alt="">
                <p class="sub-producto">Notebook Argenta</p>
                <p class="sub-precio">$19.999</p>
            </article>
            <article class="promo-8 w-42">
                <img class="img-promo-2 w-100" src="/images/Net-8.jpg" alt="">
                <p class="sub-producto">Notebook Popular</p>
                <p class="sub-precio">$22.500</p>
            </article>
        </section>
    </main>

    <%- include('./partials/footer') %>
    
</body>

</html>