<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    
    <%- include('./partials/header') %>

    <main>
        <div class="register-container register-d-flex margin-b-20">
            <form class="w-100" action="/">
                <div class="w-100 d-flex">
                    <h2 class="register-h2">Registro</h2>
                    <hr>
                </div>
                <div class="inputs-registro register-d-flex">
                    <input class="register-input-style-border" type="text" id="inputNombreUsuario" name="" placeholder="Nombre de usuario">
                    <input class="register-input-style-border" type="password" id="password-inicial" name="" placeholder="Elegí tu contraseña">
                    <input class="register-input-style-border" type="password" id="password-confirmacion" name="" placeholder="Confirmá tu contraseña">
                    <button class="register-input-style-border class-btn" type="submit" id="enviar" target="">Enviar</button>
                    <button class="register-input-style-border class-rst" type="reset" id="borrar">Borrar</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>