<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <div class="container mt-5 ">
        <h2 class="font-weight-bold">Acerca de nosotros</h2>
        <br>
        <h3>Desde hace 120 años trabajamos...</h3>
        <br>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
            Perspiciatis ab nobis, possimus enim velit tempore expedita mollitia voluptate repudiandae vitae excepturi
            unde aliquam sit. <br>
            Non accusantium ab ullam numquam repudiandae. <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, fuga earumvelit rem tempore possimus ipsa
            numquam praesentium. <br>
            Repudiandae voluptatem laborum veritatis animi odio error iustoaccusamus doloremque assumenda ea? <br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>
            Ab ipsam itaque rerumvoluptas? <br>
            Atque iste maxime perspiciatis qui vel sint voluptatibus modi veniam laborum a, accusamus commodi cumque eos
            aperiam? <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, reprehenderit eveniet? <br>
            Dolorum, impedit porro dolor, nemo itaque libero suscipit soluta quasi ex sapiente ad assumenda recusandae,
            sequi laborum dolores voluptatum! <br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
            Impedit minima provident laudantium ipsa assumenda nemo hic voluptatum officiis quas! <br>
            Consequatur ducimus sint aperiam architecto velit nemo laborum eveniet distinctio laudantium? <br>
            <p class="font-italic">Sarasa</p>
            <br>
            <br>
        </p>
    </div>



    <%- include('./partials/footer') %>
</body>

</html>