<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <div class="container mt-5 d-flex mb-3">
        <div class="card" style="width: 250rem;">
            <div class="card-body">

                <div class=""> <!-- div de la descripcion-->

                    <div class="form-row mt-5 mb-5"> <!-- primer form row-->

                        <div class="col-md-6 mb-3">

                            <h1 class="card-title">Gama Desarrollos</h1>
                        
                            <h3 class="card-subtitle mb-2 text-muted">¿Quiénes somos?</h3>

                        </div> 

                        

                        <p class="card-text col-md-6 pt-3 font-weight-bold">
                        
                        Somos una empresa de desarrollo de San Miguel, Buenos Aires, que ofrece soluciones a distintos tipos de empresas, organizaciones y comercios.
                    
                        </p>
                    </div> <!-- cierre primer form row -->

                    <hr>

                    <div class="form-row mt-5 mb-5"> <!-- segundo form row-->

                        <img class="col-md-6" src="/images/banner-kalitero-1.jpg" alt="foto 1">
                    
                        <p class="col-md-6">Comercializamos los productos que se utilizan para la implementación de cualquiera de nuestros sistemas: balanzas, lectores, comanderas, PCs, monitores y otros elementos que sean necesarios para lograr la puesta a punto de un punto de venta, una oficina de administración, la gerencia de una empresa y cualquier otro ámbito que requiera acceso al software y la utilización de algún dispositivo.
                        </p>
                        

                    </div> <!-- cierre segundo form row-->

                    <div class="form-row mt-5 mb-5"> <!-- tercer form row-->
                        
                        <p class="col-md-6">
                        Ofrecer estos productos representa, para nosotros, una solución a la recurrente problemática que representa para las organizaciones el conseguir los elementos necesarios para comenzar con el uso del sistema. El absorber esta tarea nos permite asegurar calidad y buena respuesta en toda instalación. Es por ese motivo que también realizamos cableados y configuraciones de red!
                        </p>

                        <img class="col-md-6" src="/images/banner-kalitero-2.jpg" alt="foto 1">

                    </div> <!-- cierre tercer form row-->

                </div> <!-- cierre div de la descripcion -->

                <hr>

            </div> <!-- cierre card-body div -->

        </div>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>