<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <h1>Desde hace 120 años trabajamos...</h1>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
    Perspiciatis ab nobis,
    possimus enim velit tempore expedita mollitia voluptate repudiandae vitae excepturi unde aliquam sit. Non
    accusantium ab ullam numquam repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, fuga earum
    velit rem tempore possimus ipsa numquam praesentium. Repudiandae voluptatem laborum veritatis animi odio error iusto
    accusamus doloremque assumenda ea? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ipsam itaque rerum
    voluptas? Atque iste maxime perspiciatis qui vel sint voluptatibus modi veniam laborum a, accusamus commodi cumque
    eos aperiam? <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, reprehenderit eveniet?
    Dolorum, impedit porro dolor, nemo itaque libero suscipit soluta quasi ex sapiente ad assumenda recusandae, sequi
    laborum dolores voluptatum! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit minima provident
    laudantium ipsa assumenda nemo hic voluptatum officiis quas! Consequatur ducimus sint aperiam architecto velit nemo
    laborum eveniet distinctio laudantium? <br> Sarasa!

    <%- include('./partials/footer') %>
</body>

</html>