<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <div class="container mt-5 d-flex mb-3">
        <div class="card" style="width: 250rem;">
            <div class="card-body">
              <h1 class="card-title">Gama Desarrollos</h1>
              <h3 class="card-subtitle mb-2 text-muted">¿Quiénes somos?</h3>
              <p class="card-text">
                
                Una empresa de desarrollo que ofrece soluciones a distintos tipos de empresas, organizaciones y comercios.
                
                <br></br>
                Comercializamos los productos que se utilizan para la implementación de cualquiera de nuestros sistemas: balanzas, lectores, comanderas, PCs, monitores y otros elementos que sean necesarios para lograr la puesta a punto de un punto de venta, una oficina de administración, la gerencia de una empresa y cualquier otro ámbito que requiera acceso al software y la utilización de algún dispositivo.
                <br></br>
                  
                Ofrecer estos productos representa, para nosotros, una solución a la recurrente problemática que representa para las organizaciones el conseguir los elementos necesarios para comenzar con el uso del sistema. El absorber esta tarea nos permite asegurar calidad y buena respuesta en toda instalación. Es por ese motivo que también realizamos cableados y configuraciones de red!
                <br></br>
                </p>
              <a href="/products/categories" class="card-link">Productos</a>
              <a href="/" class="card-link">Volver al inicio</a>
              <a href="/contact" class="card-link">Contactanos!</a>
            </div>
          </div>



        <!-- <div>
            <h3>El comienzo...</h3>
            <p class= "h5">
                Hace algunos años atrás hacía de la programación un hobbie, cuando Internet no era accesible para todos. En
                aquellos tiempo cuando se necesitaba resolver algún problema en la programación debíamos recurrir a libros
                de informática o los BBS ( Bulletin Board System ), a estos últimos se accedía mediante líneas telefónicas y
                había que suscribirse. <br>
                Los BBS fueron populares en los años 80 y 90 se convirtieron en mi punto de encuentro
                con otros aficionados a las comunicaciones y desarrolladores de software. A diferencia de estos tiempos los
                usuarios debían hacer cola para ingresar porque se dependía de la cantidad de líneas telefónica, una linea
                por cada conexión. Ya corrían los años 90 e Internet comenzaba de difundirse, y la tecnología a reproducirse
                en forma exponencial.
            </p>
        </div>
        <div class="ml-3">
            <img src="/images/imagen-kalitero.jpg" alt="">
        </div>
        
            <br>
            <br>
         -->
    </div>
    <%- include('./partials/footer') %>
</body>

</html>