<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <div class="container mt-5 d-flex mb-3">
        <div>
            <h3>El comienzo...</h3>
            <p class= "h5">
                Hace algunos años atrás hacía de la programación un hobbie, cuando Internet no era accesible para todos. En
                aquellos tiempo cuando se necesitaba resolver algún problema en la programación debíamos recurrir a libros
                de informática o los BBS ( Bulletin Board System ), a estos últimos se accedía mediante líneas telefónicas y
                había que suscribirse. <br>
                Los BBS fueron populares en los años 80 y 90 se convirtieron en mi punto de encuentro
                con otros aficionados a las comunicaciones y desarrolladores de software. A diferencia de estos tiempos los
                usuarios debían hacer cola para ingresar porque se dependía de la cantidad de líneas telefónica, una linea
                por cada conexión. Ya corrían los años 90 e Internet comenzaba de difundirse, y la tecnología a reproducirse
                en forma exponencial.
            </p>
        </div>
        <div class="ml-3">
            <img src="/images/imagen-kalitero.jpg" alt="">
        </div>
        
            <br>
            <br>
        </p>
    </div>
    <%- include('./partials/footer') %>
</body>

</html>