<footer class="footer">
    <div class="foot-text d-flex f-wrap">
        <div class="payment-card">
            <h4 class="text-al-center fz-15 margin-b-10 margin-t-10">PAGA EN CUOTAS</h4>
            <div class="payment d-flex justify-center">
                <img class="card w-20" src="/images/visa-debito.png" alt="">
                <img class="card w-20" src="/images/visa-credito.png" alt="">
                <img class="card w-20" src="/images/american-express.png" alt="">
                <img class="card w-20" src="/images/mastercard.png" alt="">
            </div>
        </div>
        <p class="margin-b-20 fz-10">Los precios expresados corresponden a PRECIO CONTADO: Efectivo, Tarjeta de
            Débito ó Tarjeta de Crédito en 1 Pago</p>
        <p class="margin-b-20 fz-10">© KALITERO 2020 | Todos los derechos reservados</p>
        <div class="copyright d-flex f-wrap">
            <p class="terms fz-10 w-50">Los precios expresados incluyen IVA. Las fotos son a modo ilustrativo. La venta de
                cualquiera de los productos publicados está sujeta a la verificación de stock. Las especificaciones
                técnicas y descripciones están sujetas a cambios sin previo aviso.</p>
            <img class="logo-cace w-30" src="/images/logo-cace.png" alt="">
            <img class="data-fiscal w-19 margin-b-4" src="/images/data-fiscal.png" alt="">
        </div>
    </div>
</footer>   