<footer class="main-footer gradient-dark">
    <div class="container p-5">
        <div class="row">
            <img class="mr-2" style="width: 5rem" src="/images/mercado-pago-logo.png" alt="logo-Mercado-Pago">
            <h5 class="" style="align-self: center">PAGÁ EN CUOTAS</h4>

            <div class="d-flex justify-content-center ml-4" style="align-self: center">
                <img class="payment-card" src="/images/visa-debito.png" alt="">
                <img class="payment-card" src="/images/visa-credito.png" alt="">
                <img class="payment-card" src="/images/american-express.png" alt="">
                <img class="payment-card" src="/images/mastercard.png" alt="">
            </div>

            
            <div class="d-flex ml-auto">
                <img class="fiscal-card-cace" src="/images/logo-cace.png" alt="">
                <img class="fiscal-card" src="/images/data-fiscal.png" alt="">
            </div>
        </div>

        <div class="row">	
            <p class="">Los precios expresados corresponden a PRECIO CONTADO: Efectivo, Transferencia ó MercadoPago</p>
        </div>
        <div class="row">
            <p class="">© Kalítero 2021 | derechos reservados</p>
        </div>
        <div class="row">
            <p class="">Los precios expresados incluyen IVA. Las fotos son a modo ilustrativo. La venta de
                cualquiera de los productos publicados está sujeta a la verificación de stock. Las especificaciones
                técnicas y descripciones están sujetas a cambios sin previo aviso.</p>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</footer>   