<header class="main-header header-f-s gradient-dark">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--
    <div class="container-fluid">
        <div class="row">
            <ul class="right-navbar ml-auto" id="nav1">
                <li>
                    <div class="sub-menu">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <ul class="nav-sub-menu d-flex">
                        <li><a href="" title="CONTACTO"><span class="hide-unhide-span">CONTACTO </span><i class="far fa-envelope"></i></a></li>
                        <li><a href="" title="QUIENES SOMOS"><span class="hide-unhide-span">QUIENES SOMOS </span><i class="fas fa-handshake"></i></a></li>
                        <li><a href="https://www.addtoany.com/add_to/facebook?linkurl=https%3A%2F%2Fwww.kaliterosoftware.com%2Fcomunicate-con-nosotros%2F&linkname=Comun%C3%ADcate%20con%20nosotros&linknote="
                                title="FACEBOOK"><span class="hide-unhide-span">FACEBOOK </span><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://instagram.com/softwarekalitero?igshid=49a5it2t8jz8" title="INSTAGRAM"><span class="hide-unhide-span">INSTAGRAM </span><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <hr class="row">
        <div class="row align-items-center">
            <ul class="col-1 d-flex justify-content-center" id="nav">
                <li>
                    <div class="hamburger-menu">
                        <i class="fas fa-bars hamburger-element"></i>
                    </div>
                    <ul class="nav-menu">
                        <% locals.listOfCategories.forEach(category => { %>
                            <li><a href="#"><%= category %></a></li>
                        <% }) %>
                    </ul>
                </li>
            </ul>
            <div class="col-2">
                <a href="/"><img class="img-logo" src="/images/kalitero-logo-wht.png" alt="Logo - Kalítero"></a>
            </div>
            <div class="col-4">
                <form action="/search" method="GET" class="search-form">
                    <input class="form-control" type="search" placeholder="Buscar productos" name="search" id="">
                    <button type="submit" class="search_submit">
                        <span><i class="fas fa-search"></i></span>
                    </button>
                </form>
            </div>
            <div class="col-5 d-flex justify-content-end">
                <ul class="d-inline-flex">
                    <% if ( locals.user ) { %>
                    <li class="align-self-center">
                        <div class="welcome">
                            <span>Hola <%= locals.first_name %></span>                            
                        </div>
                    </li>
                    <li>
                        <div class="user_box_1">
                            <a title="Mi Cuenta" href="/users/userDetail/<%= locals.userId %>"><i class="fas fa-user-edit"></i></a>
                        </div>
                    </li>
                    <li >
                        <div class="log_out_box">
                            <form action="/users/logout" method="POST">
                                <button class="log_out" type="submit"><i class="fas fa-user-times"></i></button>
                            </form>
                        </div>
                    </li>
                    <% } else { %>
                    <li class="align-self-center">
                        <div class="welcome">
                            <span>                             </span>                            
                        </div>
                    </li>
                    <li>
                        <div class="user_box_1_register user_box_1">
                            <a title="Register" href="/users/register"><i class="fas fa-user-plus"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="user_box_1_login user_box_1">
                            <a title="Log-In" href="/users/login"><i class="fas fa-user-lock"></i></a>
                        </div>
                    </li>
                    <% } %>
                    <li>
                        <div class="shop_cart">
                            <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>

-->

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="btn-hamburger-font-s navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand text-logo font-weight-bold text-uppercase text-center" href="/"><img class="img-logo"
                    src="/images/kalitero-logo-k-wht.png" alt="Logo - Kalítero"></a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Categorías</a>
                        <div class="dropdown-menu header-f-s">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Acerca de nosotros</a>
                        <div class="dropdown-menu header-f-s">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Contacto</a>
                        <div class="dropdown-menu header-f-s">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>

                <ul class="header-f-s navbar-nav mr-auto my-lg-0 text-white">
                    <li class="nav-item mr-2">
                        <p class="navbar-text-kalitero mt-2">Ya tienes una cuenta?</p>
                    </li>
                    <li class="nav-link dropdown mr-3">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><i
                                    class="icono-f-s fas fa-user-lock"></i></b> <span class="caret"></span></a>
                        <ul id="login-dp" class="header-f-s dropdown-menu">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        Login con
                                        <div class="social-buttons">
                                            <a href="#" class="header-f-s btn btn-fb"><i class="fa fa-facebook"></i>
                                                Facebook</a>
                                            <a href="#" class="header-f-s btn btn-tw"><i class="fa fa-twitter"></i>
                                                Twitter</a>
                                        </div>
                                        o
                                        <form class="mt-4 form" role="form" method="POST" action="/users/login"
                                            accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                                <label class="header-f-s sr-only" for="exampleInputEmail2">Email /
                                                    Nombre de usuario</label>
                                                <input type="email" class="header-f-s form-control"
                                                    id="exampleInputEmail2" placeholder="Email address" name="user_name">
                                            </div>
                                            <div class=" form-group">
                                                <label class="header-f-s sr-only"
                                                    for="exampleInputPassword2">Contraseña</label>
                                                <input type="password" class="header-f-s form-control"
                                                    id="exampleInputPassword2" placeholder="Password" name="password">
                                                <div class="help-block text-center my-3"><a href=""
                                                        class="header-f-s">Olvidaste tu contraseña ?</a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit"
                                                    class="header-f-s btn btn-primary btn-block">Ingresar</button>
                                            </div>
                                            <div class="checkbox mt-3">
                                                <label>
                                                    <input type="checkbox" id="rememberCheckBox" name="rememberMe"> Recordarme
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="bottom text-center">
                                        Eres nuevo ? <a href="/users/register"><b>Regístrate</b></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-link">
                        <div>
                            <a href="/products/productCart"><i class="icono-f-s fas fa-shopping-cart"></i></a>
                        </div>
                    </li>
                </ul>
                <form class="header-f-s form-inline my-2 my-lg-0" action="/search" method="GET">
                    <input class="header-f-s form-control mr-sm-2" type="search" placeholder="Buscar productos"
                        aria-label="Search" name="search" id="">
                    <button class="header-f-s btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </div>
</header>