<header class="main-header header-f-s gradient-dark">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="btn-hamburger-font-s navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand text-logo font-weight-bold text-uppercase text-center" href="/"><img class="img-logo"
                    src="/images/kalitero-logo-k-wht.png" alt="Logo - Kalítero"></a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Categorías</a>
                        <div class="dropdown-menu header-f-s">
                            <% locals.listOfCategories.forEach(category => { %> 
                                <% if (category.products.length > 0) { %>
                                    <a class="dropdown-item" href="/products/categories/<%= category.name %>"><%= category.name %></a>
                                <% } %>
                            <% }) %>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/products/categories">Todos los productos</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="/aboutUs" role="button" aria-haspopup="true"
                            aria-expanded="false">Acerca de
                            nosotros</a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Contacto</a>
                        <div class="dropdown-menu header-f-s">
                            <a class="dropdown-item" href="https://www.facebook.com/kaliterosoftware">Facebook</a>
                            <a class="dropdown-item" href="https://www.instagram.com/softwarekalitero">Instagram</a>
                            <!--
                                <a class="dropdown-item" href="https://twitter.com/">Twitter</a>
                            -->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/contact">Dejanos un mensaje</a>
                        </div>
                    </li>
                </ul>

                <ul class="header-f-s navbar-nav mr-auto my-lg-0 text-white">
                    <% if ( locals.user ) { %>
                        <li class="nav-item mr-2">
                            <p class="navbar-text-kalitero mt-2">Hola <%= locals.first_name + " " + locals.last_name %></p>
                        </li>
                    <% } else { %>
                        <li class="nav-item mr-2">
                            <p class="navbar-text-kalitero mt-2">Ya tienes una cuenta?</p>
                        </li>
                    <% } %>
                    <li class="nav-link dropdown mr-3">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><i
                                    class="icono-f-s fas fa-user-lock"></i></b> <span class="caret"></span></a>
                    <% if ( locals.user ) { %>
                        <ul id="login-dp" class="header-f-s dropdown-menu">
                    <% } else { %>
                        <ul id="login-dp" class="header-f-s dropdown-menu login-dp-1">
                    <% } %>
                            <li class="">
                                <ul class="">
                                    <% if ( locals.user ) { %>
                                    <a class="dropdown-item" title="Mi Cuenta" href="/users/userDetail/<%= locals.userId %>">
                                        <i class="fas fa-user-circle mr-2"></i> Mi cuenta</a>
                                    
                                    <a class="dropdown-item" href="/products/productCreate"><i class="fas fa-plus-circle mr-2" ></i> Crear producto</a>
                                    <div class="dropdown-divider"></div>
                                    <form class="dropdown-item" action="/users/logout" method="POST">
                                        <div class="d-flex justify-content-start align-items-center">
                                            <i class="fas fa-sign-out-alt mr-2"></i><input class="dropdown-item log_out border-0 p-0" type="submit" value="Cerrar sesión">
                                        </div>
                                    </form>
                                    <% } else { %>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Login con
                                            <div class="social-buttons">
                                                <a href="#" class="header-f-s btn btn-fb"><i class="fa fa-facebook"></i>
                                                    Facebook</a>
                                                <a href="#" class="header-f-s btn btn-tw"><i class="fa fa-twitter"></i>
                                                    Twitter</a>
                                            </div>
                                            o
                                            <form class="mt-4 form" role="form" method="POST" action="/users/login"
                                                accept-charset="UTF-8" id="login-nav">
                                                <div class="form-group">
                                                    <label class="header-f-s sr-only" for="exampleInputEmail2">Email /
                                                        Nombre de usuario</label>
                                                    <input type="email" class="header-f-s form-control"
                                                        id="exampleInputEmail2" placeholder="Email address"
                                                        name="user_name">
                                                </div>
                                                <div class=" form-group">
                                                    <label class="header-f-s sr-only"
                                                        for="exampleInputPassword2">Contraseña</label>
                                                    <input type="password" class="header-f-s form-control"
                                                        id="exampleInputPassword2" placeholder="Password"
                                                        name="password">
                                                    <div class="help-block text-center my-3"><a href=""
                                                            class="header-f-s">Olvidaste tu contraseña ?</a>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit"
                                                        class="header-f-s btn btn-primary btn-block">Ingresar</button>
                                                </div>
                                                <div class="checkbox mt-3">
                                                    <label>
                                                        <input type="checkbox" id="rememberCheckBox" name="rememberMe">
                                                        Recordarme
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="bottom text-center">
                                            Eres nuevo ? <a href="/users/register"><b>Regístrate</b></a>
                                        </div>
                                    </div>
                                </li>
                            <% } %>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-link">
                    <div>
                        <a href="/products/productCart"><i class="icono-f-s fas fa-shopping-cart"></i></a>
                    </div>
                </li>
                </ul>
                <form class="header-f-s form-inline my-2 my-lg-0" action="/search" method="GET">
                    <input class="header-f-s form-control mr-sm-2" type="search" placeholder="Buscar productos"
                        aria-label="Search" name="search" id="">
                    <button class="header-f-s btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </div>
</header>