<header class="header-container">
    <div class="header-epigraph d-flex">
        <div class="hamburger-menu">
            <i class="fas fa-bars hamburger-element"></i>
        </div>
        <nav class="navegation-menu">
            <ul class="nav-menu">
                <li><a href="">PC ARMADAS</a></li>
                <li><a href="">BALANZAS</a></li>
                <li><a href="">LECTORES</a></li>
                <li><a href="">COMANDERAS</a></li>
                <li><a href="">COMBOS</a></li>
                <li><a href="">PROMOCIONES</a></li>
            </ul>
        </nav>
        <div class="logo d-flex">
            <img class="img-logo" src="/images/kalitero-logo.png" alt="Logo - Kalítero">
        </div>
        <div class="user">
            <i class="fas fa-user"></i>
        </div>
        <div class="shop-cart">
            <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="sub-menu">
            <i class="fas fa-ellipsis-v"></i>
        </div>
        <nav class="navegation-sub-menu">
            <ul class="nav-sub-menu">
                <li><a href="">QUIENES SOMOS <i class="fas fa-handshake"></i></a></li>
                <li><a href="">CONTACTO <i class="far fa-envelope"></i></a></li>
                <li><a href="">FACEBOOK <i class="fab fa-facebook-square"></i></a></li>
                <li><a href="">INSTAGRAM <i class="fab fa-instagram"></i></a></li>
            </ul>
        </nav>
    </div>
    <div class="header-search register-d-flex">
        <input class="form-control" type="search" placeholder="Buscar productos" name="" id="">
        <button type="submit" class="search_submit" name="_S_" id="_s_">
            <span><i class="fas fa-search"></i></span>
        </button>
    </div>
</header>