<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <div class="text-center mt-5 mb-5">
        <h2>SU USUARIO HA SIDO CREADO CON EXITO!</h2>
        <h4>En 3 segundos seras redirigido...</h4>
        <img class= "img-check-ok mt-2" src="/images/check-ok.gif" alt="">
    </div>

    <%- include('../partials/footer') %>

    <script src="/js/redirectTimerUser.js"></script>
</body>

</html>