<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %>
    
    <main>
        <div class="container">
            <div class="row m-4 justify-content-center">
                <div class="col-xs-12 col-lg-4">
                    <div class="gradient-dark p-3 shadow-lg rounded">
                        <div class="pt-3">
                            <h2 class="text-white text-center">Mi Cuenta</h2>
                            <hr>
                        </div>
                        <form class="mt-5" action="/users/login" method="POST" >
                            <% errors.forEach(error => { %>
                                <% if(error.param == "user_name") { %>
                                    <span class="span_errors">* <%= error.msg %></span>
                                <% } else { "" } %>
                            <% }) %>
                            <div class="form-group">
                                <label class="text-white" for="email_id">Nombre de Usuario (e-mail)</label>
                                <input type="email" class="form-control form-control-sm bg-light"
                                    placeholder="Email Id" name="user_name" id="email_id">
                            </div>

                            <div class="form-group">
                                <label class="text-white" for="psw_id">Contraseña</label>
                                <input type="password" class="form-control form-control-sm bg-light"
                                    placeholder="Password" name="password" id="psw_id">
                            </div>

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="rememberCheckBox" name="rememberMe">
                                <label class="form-check-label text-light" for="rememberCheckBox">Remember me?</label>
                            </div>

                            <div class="mt-5">
                                <button class="btn btn-sm btn-primary col">
                                    Login
                                </button>
                            </div>

                            <div class="text-center mt-2">
                                <a href="#" class="text-warning">Olvidaste tu contraseña?</a>
                            </div>

                            <div class="mt-5">
                                <p class="text-white text-center">
                                    No estas registrado?
                                    <a href="/users/register" class="text-warning">Click aquí para registrarte</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    
    </main>

    <%- include('../partials/footer') %>  
    
</body>
</html>