<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <div class="container mt-5 ">
        <h2 class="font-weight-bold">Felicitaciones!</h2>
        <br>
        <h3>Su usuario ha sido creado con éxito!</h3>
        <br>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>
            Perspiciatis ab nobis, possimus enim velit tempore expedita mollitia voluptate repudiandae vitae excepturi
            unde aliquam sit. <br>
            Non accusantium ab ullam numquam repudiandae. <br>

            <p class="font-italic">Sarasa</p>
            <br>
            <br>
        </p>
    </div>



    <%- include('./partials/footer') %>
</body>

</html>