<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="./styles/products.css">
</head>

<body>
    <header></header>
    <section>
        <form class="search-but" action="">
            <input type="search" name="" placeholder="Buscar productos, marcas..." />
            <i class="fas fa-search"></i>
        </form>
        <div>
            <h3>Iniciar sesión con su cuenta</h3>
            <p>
                Dirección de correo electrónico: <input type="email" name="email">
            </p>
            <p> Contraseña: <input type="password">
            </p>
            <button>Mostrar</button>
            <p>¿Olvidó su contraseña?</p>
            <button id="submit-login" class="" data-link-action="sign-in" type="submit">
                Iniciar sesión
            </button>
        </div>
    </section>
    <footer></footer>
</body>

</html>