<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Productos</title>
		<link
			rel="stylesheet"
			href="path/to/font-awesome/css/font-awesome.min.css"
		/>
	</head>
	<body>
		<header></header>
		<nav>
			<section>
				<form action="">
					<input
						type="search"
						name=""
						placeholder="Buscar productos, marcas..."
					/>
					<i class="fa fa-search" aria-hidden="true"></i>
				</form>
			</section>
			<section>
				<div>
					<h3>Producto principal en promoción</h3>
					<p>Algo de texto de descripción</p>
					<button placeholder="ORDENAR"></button>
					<img src="" alt="" />
				</div>
			</section>
			<section>
				<img src="" alt="" />
				<h4></h4>
				<img src="" alt="" />
				<h4></h4>
				<img src="" alt="" />
				<h4></h4>
				<img src="" alt="" />
				<h4></h4>
			</section>
			<section>
				<h3>Algunos De Nuestros Productos</h3>
				<p>En Stock con Entrga Inmediata</p>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
			</section>
			<section>
				<div>
					<h3>Nuestros Últimos Lanzamientos</h3>
					<p>Te presentamos nuestras novedades</p>
					<button placeholder="ORDENAR"></button>
					<img src="" alt="" />
				</div>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
				<article>
					<img src="" alt="" />
					<p><strong></strong></p>
					<p>Precio</p>
				</article>
			</section>
		</nav>
		<footer></footer>
	</body>
</html>
