<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="./styles/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
	<link rel="icon" href="/images/kalitero-favicon.png" type="image/png" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
	<title>Productos</title>

</head>

<body>
	<header class="header margin-b-10">
		<div class="d-flex">
			<div class="menu">
				<i class="fas fa-bars"></i>
			</div>
			<div class="logo">
				<img class="w-95" src="/images/kalitero-logo.png" alt="logo">
			</div>
			<div class="user">
				<i class="fas fa-user"></i>
			</div>
			<div class="cart">
				<i class="fas fa-shopping-cart"></i>
			</div>

			<nav class="nav">
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
			</nav>
		</div>
		<div class="search">
			<input class="input" type="search" placeholder="Buscar productos" name="" id="">
			<i class="fas fa-search"></i>
		</div>
	</header>
	<section>
		<nav>
			<div>
				<img src="/images/macbookproi9.jpg" alt="">
				<img src="/images/macbookproi92.jpg" alt="">
				<img src="/images/macbookproi93.jpg" alt="">
				<p>Macbook Pro 16 Español</p>
				<p>Touch I9 Ssd1tb Video 4gb</p>
				<p>$699.999</p>
				<input type="number" name="num" min="0" max="100">
				<button placeholder="+ ORDENAR"></button>
			</div>
			<div>
				<p>Descripción</p>
				<p>Detalles Del Producto</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quidem animi pariatur natus
					eligendi hic ducimus mollitia quas, laudantium, expedita praesentium numquam vero esse velit veniam
					enim omnis aliquid facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et placeat
					veritatis odit? Optio sed quas
					dolores! Voluptatum magnam minima aperiam similique dolorem, itaque quae magni veritatis eligendi
					eius qui voluptas.
				</p>
			</div>
			<div>
				<p>También Podría Interesarte</p>
				<p>Productos parecidos</p>
				<img src="/images/netbookbangho.jpg" alt="">
				<p>Notebook Bangho</p>
				<p>$24.999</p>
				<img src="/images/netbookexomate.jpg" alt="">
				<p>Netbook Exo</p>
				<p>23.999</p>
			</div>
		</nav>
	</section>
	<footer>
		<div class="footer">
			<div class="card">
				<p class="text-al-center fz-15 margin-b-10 margin-t-10">PAGA EN CUOTAS</p>
				<img src="/images/visa-debito.png" alt="">
				<img src="/images/visa-credito.png" alt="">
				<img src="/images/american-express.png" alt="">
				<img src="/images/mastercard.png" alt="">
			</div>
			<p class="margin-b-20 fz-10">Los precios expresados corresponden a PRECIO CONTADO: Efectivo, Tarjeta de
				Débito ó Tarjeta de Crédito en 1 Pago</p>
			<p class="margin-b-20 fz-10">© KALITERO 2020 | Todos los derechos reservados</p>
			<div class="copyright d-flex f-wrap">
				<p class="fz-10 w-50">Los precios expresados incluyen IVA. Las fotos son a modo ilustrativo. La venta de
					cualquiera de los productos publicados está sujeta a la verificación de stock. Las especificaciones
					técnicas y descripciones están sujetas a cambios sin previo aviso.</p>
				<img class="w-20 margin-l-10" src="/images/logo-cace.png" alt="">
				<img class="w-13 margin-l-55 margin-b-4" src="/images/data-fiscal.png" alt="">
			</div>
		</div>
	</footer>
</body>

</html>