<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="./styles/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
	<link rel="icon" href="/images/kalitero-favicon.png" type="image/png" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
	<title>Productos</title>

</head>

<body>
	<header class="header margin-b-10">
		<div class="d-flex">
			<div class="menu">
				<i class="fas fa-bars"></i>
			</div>
			<div class="logo">
				<img class="w-95" src="/images/kalitero-logo.png" alt="logo">
			</div>
			<div class="user">
				<i class="fas fa-user"></i>
			</div>
			<div class="cart">
				<i class="fas fa-shopping-cart"></i>
			</div>

			<nav class="nav">
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
			</nav>
		</div>
		<div class="search">
			<input class="input" type="search" placeholder="Buscar productos" name="" id="">
			<i class="fas fa-search"></i>
		</div>
	</header>
	<nav>
		<section>
			<form class="search-but" action="">
				<input type="search" name="" placeholder="Buscar productos, marcas..." />
				<i class="fas fa-search"></i>
			</form>
		</section>
		<section>
			<div>
				<h2>Producto principal en promoción</h2>
				<p>Algo de texto de descripción</p>
				<button placeholder="ORDENAR"></button>
				<img src="" alt="" />
			</div>
		</section>
		<section>
			<img src="" alt="" />
			<h4></h4>
			<img src="" alt="" />
			<h4></h4>
			<img src="" alt="" />
			<h4></h4>
			<img src="" alt="" />
			<h4></h4>
		</section>
		<section>
			<h3>Algunos De Nuestros Productos</h3>
			<p>En Stock con Entrga Inmediata</p>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
		</section>
		<section>
			<div>
				<h3>Nuestros Últimos Lanzamientos</h3>
				<p>Te presentamos nuestras novedades</p>
				<button placeholder="ORDENAR"></button>
				<img src="" alt="" />
			</div>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
			<article>
				<img src="" alt="" />
				<p><strong></strong></p>
				<p>Precio</p>
			</article>
		</section>
	</nav>
	<footer>
		<div class="footer">
			<div class="card">
				<p class="text-al-center fz-15 margin-b-10 margin-t-10">PAGA EN CUOTAS</p>
				<img src="/images/visa-debito.png" alt="">
				<img src="/images/visa-credito.png" alt="">
				<img src="/images/american-express.png" alt="">
				<img src="/images/mastercard.png" alt="">
			</div>
			<p class="margin-b-20 fz-10">Los precios expresados corresponden a PRECIO CONTADO: Efectivo, Tarjeta de
				Débito ó Tarjeta de Crédito en 1 Pago</p>
			<p class="margin-b-20 fz-10">© KALITERO 2020 | Todos los derechos reservados</p>
			<div class="copyright d-flex f-wrap">
				<p class="fz-10 w-50">Los precios expresados incluyen IVA. Las fotos son a modo ilustrativo. La venta de
					cualquiera de los productos publicados está sujeta a la verificación de stock. Las especificaciones
					técnicas y descripciones están sujetas a cambios sin previo aviso.</p>
				<img class="w-20 margin-l-10" src="/images/logo-cace.png" alt="">
				<img class="w-13 margin-l-55 margin-b-4" src="/images/data-fiscal.png" alt="">
			</div>
		</div>
	</footer>
</body>

</html>