<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/kalitero-favicon.png" type="image/png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <title>Registro - Kalítero Argentina</title>
</head>
<body>
    <header class="header-container">
        <div class="header-epigraph register-d-flex">
                <div class="hamburger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="logo">
                    <img class="img-logo" src="/images/kalitero-logo.png" alt="Logo - Kalítero">
                </div>
                <div class="shop-cart">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <div class="sub-menu">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
        </div>
        <div class="header-search register-d-flex">
            <input class="input-search" type="search" placeholder="Buscar productos" name="" id="">
            <i class="search-icon fas fa-search"></i>
        </div>
    </header>
    <main>

        <div class="login">
            <div class="login-container login-d-flex">
                <form action="/">
                    <div class="inputs-login">
                        <div class="title-login texts-login">
                            <a>MI CUENTA</a>
                        </div>
                        <div class="sub-title-login texts-login">
                            <a>INGRESA CON TUS DATOS:</a>
                        </div>
                        <input class="login-input-style-border" type="text" name="usr" placeholder="Usuario">
                        <input class="login-input-style-border" type="password" name="psw" placeholder="Contraseña">
                        <button class="login-input-style-border class-btn" type="submit" id="enviar" target="">Enviar</button>
                        <a href="#">Olvidé mi clave</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="register-container register-d-flex">
            <form class="w-100" action="/">
                <div class="inputs-registro">
                    <input class="register-input-style-border" type="text" id="inputNombreUsuario" name="nombreUsuario" placeholder="Nombre de usuario">
                    <input class="register-input-style-border" type="password" id="password-inicial" name="psw-ini" placeholder="Elegí tu contraseña">
                    <input class="register-input-style-border" type="password" id="password-confirmacion" name="psw-conf" placeholder="Confirmá tu contraseña">
                    <button class="register-input-style-border class-btn" type="submit" id="enviar" target="">Enviar</button>
                    <button class="register-input-style-border class-rst" type="reset" id="borrar">Borrar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        esto es un footer
    </footer>
</body>
</html>